[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Dariusz Łuksza (dluksza)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dariusz Łuksza (dluksza)
	label-Verified = -1..+1 group user/Dariusz Łuksza (dluksza)
	push = group Registered Users
	push = group user/Dariusz Łuksza (dluksza)
	read = group Registered Users
	read = group user/Dariusz Łuksza (dluksza)
	rebase = group user/Dariusz Łuksza (dluksza)
	removeReviewer = group user/Dariusz Łuksza (dluksza)
	submit = group user/Dariusz Łuksza (dluksza)
[access "refs/heads/*"]
	create = group user/Dariusz Łuksza (dluksza)
	push = +force group user/Dariusz Łuksza (dluksza)
	pushMerge = group user/Dariusz Łuksza (dluksza)
	read = group Registered Users
	read = group user/Dariusz Łuksza (dluksza)
[access "refs/tags/*"]
	push = group user/Dariusz Łuksza (dluksza)
	push = +force group user/Dariusz Łuksza (dluksza)
