[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8080/
	serverId = 18d35039-9472-49d4-a290-50c8b1471ebb
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = lock
	javaHome = /Users/lock/.sdkman/candidates/java/17.0.8-tem
[index]
	type = lucene
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
	userNameCaseInsensitive = true
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
